.projects {
    background-color: #040404;
    color: #fff;
    padding: 2rem;
    font-weight: lighter;
    font-size: 2rem;
    padding: 6rem 4rem;
    line-height: 2.5rem;
}

.text {
    font-weight: lighter;
    font-size: 1.3rem;
}

.projectContainer {
    display: flex;
}

